
body {
background-color: #FFCC00;
 margin: 0;
}

header {
    height: 300px;
    background-image: url("image-geometrique.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;      /* centre verticalement */
    justify-content: center;  /* centre horizontalement */
}

h1{
font-size:80px;
text-align: center;
color: #000000;
margin :0;
}

h2{
font-size:30px;
text-align: left;
color: #000000;
margin :0;
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
margin: 20px;
color: #FFFFFF;
font-weight: bold;
}

.contenu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
}

.texte {
    width: 60%;
}

.photo {
    width: 35%;
    display: flex;
    justify-content: center;
}

.photo img {
    width: 250px;       /* taille de la photo */
    border-radius: 10px; /* coins arrondis */
}

